.col-md-6
    .panel.panel-primary
        .panel-heading
            h3.panel-title Procesor
        .panel-body.data-cpu
            .cpu-vendor-id
                h4
                    small Producent
                    span
            .cpu-model-name
                h4
                    small Model
                    span
            .cpu-gen
                h4
                    small Generacja
                    span
            .cpu-cores
                h4
                    small Liczba rdzeni
                    span
            .cpu-threads
                h4
                    small Liczba wątków
                    span
            .cpu-cache-size
                h4
                    small Cache
                    span