.col-md-6
    .panel.panel-primary
        .panel-heading
            h3.panel-title Pamięć operacyjna
        .panel-body
            .col-md-6.data-memory
                .mem-total
                    h4
                        small Dostępna pamięć
                        span
                .mem-free
                    h4
                        small Wolna pamięć
                        span
                .mem-in-use
                    h4
                        small W użyciu
                        span.val
                        |-
                        span.procent
            .col-md-6.data-memory-chart
                .chart
                    .nofill
                    .fill
                    .perc 0%