.col-md-6
    .panel.panel-primary
        .panel-heading
            h3.panel-title Interfejsy sieciowe
        .panel-body.network
            ul.nav.nav-tabs(role='tablist')
            .tab-content